/* Estilos para la capa de fondo del modal */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
    display: flex;
    justify-content: center;
    align-items:flex-start;
  }
  
  /* Estilos para el contenido del modal */
  .modal {
    color: #F7D643;
    background-color: #484642;
    padding: 30px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    margin: 40px 10px;
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para el botón de cierre del modal */
  .modal-close {
    position: absolute;
    top: 15px;
    right: 12px;
    font-weight: bolder;
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: #888888;
    cursor: pointer;
  transition: .4s;
  }
  
  .modal-close:hover{
  color: #bbbbbb;
  transform: scale(1.1);
  }
  
  /* Estilos adicionales para el contenido del modal */
  
  .modal a{
    color: #F7D643;
    font-size: 20px;
    padding: 16px 20px;
    border-radius: 10px;
    width: 300px;
    transition: .5s;
  }

  .modal a:hover{
    background-color: #202020;
  }

  .share-icon-container{
    display: flex;
    justify-content: space-between;
  }

  .share-icon-container i{
    font-size: 26px;
  }

  .share-icon-container p{
    flex-grow: 1;
    margin-left: 16px;
  }

.link-copy{
  margin: 16px auto;
  background-color: rgba(161, 161, 161, 0.235);
  border-radius: 10px;
  border: 1px #888888 solid;
  width: 300px;
  display: flex;
  overflow: hidden;
}

.link-copy p{
  color: #3c3c3c;
  background-color: #ffffff;
  padding: 16px 20px;
}

.link-copy span{
  padding: 16px 20px;
  border-left: 1px solid #444444;
  color: #F2F3F2;
}

h3{
  font-weight: 100;
  max-width: 270px;
  font-size: 25px;
  text-align: center;
  margin:0 auto 20px auto;
}

.prevent-select{
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}