*{
  margin: 0;
  padding: 0;
}

.App{
width: 100%;
height: 920px;
background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.882)),
url('./assets/bgimage-head.jpg');
background-position: center;
display: flex;
justify-content: center;
font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  color: aliceblue;
  font-family: 'Roboto', sans-serif;
}